.hide {
display:none!important;
}
#top,
.hidden {
left:-999em;
position:absolute;
top:auto;
}
#top:focus {
position:static;
font-size:1.5em;
background-color:#FFFFD5;
display:block;
font-weight:bold;
color:#000;
padding:2px 15px 5px;
}
html {
background-color:#fff;
}
body {
padding:0 2.5em 1.5em;
font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif;
font-family:300;
}

a {
color:#0985f3;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
h1,h2,h3,h4,h5,h6 {
font-weight:400;
clear:both;
}
h1 {
font-size:3.75em;
margin-bottom:1.2em;
}
.page-title {
margin-bottom:0;
font-size:4em;
line-height:1.35;
}
h2 {
font-size:3.36em;
line-height:1.35;
margin-bottom:0.8em;
margin-top:1.2em;
}
.sidebar h2 {
margin-top:0;
}
h3 {
font-size:2.4em;
margin-bottom:0.8em;
margin-top:1.2em;
}
p,
ul,
ol {
margin-bottom:1em;
}
ul,
ol {
padding-left:3em;
}
p,
li  {
font-size:1.6em;
line-height:1.75;
}
li li,
li p {
font-size:1em;
}
li {
margin-bottom:0.25em;
}
ul li {
list-style-type:disc;
}
ol li {
list-style-type:decimal;
}
blockquote {
border-left:0.4em solid #ccc;
color:#444;
font-size:115%;
font-style:italic;
background-color:#f3f3f3;
padding:0.5em 1.5em 0.1em 2.5em;
}
pre {
font-size: 1.2em;
line-height: 1.25;
}
abbr,
dfn {
border-bottom:0.1em dotted;
cursor:help;
}
sup,
sub {
font-size: 85%;
position: relative;
top: -0.4em;
vertical-align: baseline;
}
sub {
top:0.4em;
}
img {
max-width:100%;
height:auto;
}

/* Structure/Layout */
.holder {
max-width:104em;
margin:0 auto;
padding:0 1.5em;
}
.wrapper {
position:relative;
z-index:10;
background-color:#fff;
}

/* Header */
header {
padding:1.2em 1.5em 0;
margin:0 auto 2.4em;
max-width:104em;
}
header .site-title {
margin-bottom:0;
display:inline;
}
header .tagline {
color: #aaa;
font-size: 1.6em;
font-style: italic;
font-weight:300;
display:inline;
padding-left:1em;
}
header li {
font-size:1.6em;
}


/* Nav */
nav {
position:absolute;
left:2.5em;
bottom:2.5em;
z-index:100;
padding-top:3em;
text-align:left;
}
.js nav {
bottom:auto;
z-index:1;
width:20em;
}
body.nav-open {
overflow:hidden;
}
.nav-open .wrapper {
left:22em;
}

/* Content */
.page-title .edit {
font-size:0.3555em;
}
.freshness {
border-top:0.1em solid #ccc;
padding:0.4em 0.2em;
font-weight:100;
font-style:oblique;
font-size:1.4em;
margin-bottom:1em;
font-family:Helvetica,Arial, sans-serif;

}
.freshness,
.freshness a {
color:#555;
}

/* Search */
.search #s {
margin:0 0 2em;
width:100%;
padding:0.3em 0 0.2em 0.4em;
font-size:1.5em;
}

/* Media */
.alignright {
float:right;
margin-left:1em;
}
.alignleft {
float:left;
margin-right:1em;
}
.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}
.wp-caption-text {
font-size:1.2em;
padding-top:1em;
}
figure {
margin:1em 0;
padding:0.6em;
background-color:#efefef;
}

/* Meta */
.meta {
clear:both;
}
.meta .updated {
font-style:normal;
}
.meta .author {
text-transform:uppercase;
font-style:normal;
}

/* TOC */
.dokumento-toc {
background-color: #fafafa;
border: 0.1em solid #ccc;
padding: 1em 2em;
}
.dokumento-toc h2 {
margin:0 0 0.4em;
}
.dokumento-toc ol {
margin-bottom:0.25em;
}
.dokumento-toc ol li {
list-style-type:decimal;
}
.dokumento-toc ol li li {
list-style-type:upper-alpha;
}
.dokumento-toc ol li li li {
list-style-type:upper-roman;
}
.dokumento-toc ol li li li li {
list-style-type:lower-alpha;
}
.dokumento-toc ol li li li li li {
list-style-type:lower-roman;
}
.dokumento-toc ol li li li li li li {
list-style-type:decimal-leading-zero;
}
.toc-anchor {
margin-left: -0.8em;
margin-right: 0.2em;
opacity:0.4;
font-size:70%;
}
.toc-anchor:hover,
.toc-anchor:focus {
opacity:1;
}

/* Single Revision */
.revisions li a {
font-size:70%;
}
.revisions li em {
font-size:130%;
}
.revisions li a,
.revisions li em {
display:block;
}

@media (min-width: 112.5em ) { /* 1800px / 16 */
	h1 {
	font-size:4.7em;
	}
	.page-title {
	font-size:5em;
	}
	h2 {
	font-size:4.2em;
	}
	h3 {
	font-size:3em;
	}
	p,
	li  {
	font-size:2em;
	}
	header {
	position:absolute;
	left:2.5em;
	text-align:left;
	width:10%;
	}
	header .tagline {
	display:block;
	padding-left:0;
	}
	header nav {
	position:relative;
	}
	.search #s {
	margin-top:2em;
	}
	.freshness {
	font-size:1.8em;
	}
}

@media (max-width: 112.5em) { /* 1800px / 16 */
	
}

@media (max-width: 56.25em) { /* 900px / 16 */
	body {
	padding:0 0.8em 1.5em
	}
	h1,
	.site-title {
	font-size:3em;
	}
	.page-title {
	font-size:3.2em;
	}
	h2 {
	font-size:2.688em;
	}
	h3 {
	font-size:1.92em;
	}
	p,
	li  {
	font-size:1.4em;
	font-weight:100;
	line-height:1.6;
	}
	header {
	text-align:center;
	}
	header .site-title {
	display:block;
	padding-left:0;
	}
	header .tagline {
	display:none;
	}
	.freshness {
	font-size:1.2em;
	}
}
@media (max-width: 35em) { /* 560px / 16 */
	h1 {
	font-size:2.4em;
	}
	h2 {
	font-size:2.1504em;
	}
	h3 {
	font-size:1.536em;
	}
}